<body class="newSession">
<div class="formSquare">
<h1 class="logInTitle">Log In</h1><br />
  <div class="form-group">
  <%= bootstrap_form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
        </div>

    <div class="form-group">
        <%=f.text_field :email %>
    </div>
        <br />

    <div class="form-group">
        <%= f.password_field :password %>
    </div>
        <br />
  <div class="form-group">
  <%= f.submit 'Log in' %>
  </div>

  <% end %>

</div>
<br />
</body>
<%#= link_to 'New user? Create an account here', new_user_path %>
