<%= render 'header' %>

<div class="newGrocery">

  <h1 class="groceryTitle">New Item</h1>
<br />

  <%= render 'form' %>
<br />
<br />

  <div class="shopLink"><%= link_to 'Back to Your Shopping List', groceries_path %></div>
  <br />
</div>