<strong>Name:</strong>
<%= @grocery.groceries %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @grocery.qty %>
</p>

<%= link_to 'Edit', edit_grocery_path(@grocery) %> |
<%= link_to 'Back', groceries_path %>