/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

$main-font: 'Muli', sans-serif;

body {
//  page background
  background-color: #E6E8E7;
}

.body {
//  body div
  background-color: white;
  width: 80%;
  height: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav {
//  navbar div
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: $main-font;

  #userName {
//    user greeting
    padding-left: 40px;
    display: inline;
  }

  #logOut {
//    logout link // props to Josh for helping me display inLine correctly
    padding-right: 40px;
    text-align: right;
    float: right;
    display: inline-block;
  }
}

.jumbotron {
//  image div
  margin: auto;
  background-image: url("/assets/carving_board.jpg");
  -webkit-filter: grayscale(.3);
  background-position: cover;
  width: 95%;
//  max-width: 100%;
//  max-height: 100%;
//    width: 1152px;
//    height: 363px;
  background-color: white;
}

.title {

  margin: auto;
  color: #E6E8E7;
  font-size: 89px;
  font-family: $main-font;
//  padding-top: 140px;
//  padding-left: 30px;

}

