// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: 'Muli', sans-serif;


@import 'bootstrap';

//header styling
body {
  //  page background
  background-color: #E6E8E7;
}

.body {
  //  body div
  background-color: white;
  width: 80%;
  height: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  //  navbar div
  font-size: 20px;
  padding-top: 40px;
  font-family: $main-font;

  #userName {
    //    user greeting
    padding-left: 88px;
    display: inline;
  }

  .logOut {
    //    logout link // props to Josh for helping me display inLine correctly
    padding-right: 88px;
    text-align: right;
    float: right;
    display: inline-block;
  }
}

.header {
  //  image div
  margin: auto;
  width: 972px;
  height: 350px;
  background-color: white;
}

.food {
  background: asset-url('carving_board6.jpg');
  -webkit-filter: blur(.5px) grayscale(.4);
  overflow: hidden;
  max-width: 100%;
  height: 350px;
  margin:auto;
  position: relative;
  background-repeat: no-repeat;

}

//grocery index styling
.title {

  margin: auto;
  color: #E6E8E7;
  font-family: $main-font;
  font-size: 55px;
  position: absolute;
  padding-left: 23px;
  padding-top: 10px;

}

.indexPage {
  width: 1024px;
  background-color: white;
  margin-top: -20px;
  margin-left: 128px;
}

.groceryIndex {
  font-family: $main-font;
  margin-left: 80px;
  //  margin-left: 3px;
  padding-top: 30px;

}

.index {
  font-family: $main-font;
  margin-left: 80px;
  //  margin-left: 3px;

}

.shoppingLink {
  font-family: $main-font;
  margin-left: 85px;
  padding-bottom: 15px;
}

//new grocery styling
.groceryTitle {
  font-family: $main-font;
  margin-left: 80px;
  padding-top: 40px;
}

.newGrocery {
  background-color: white;
  width: 1024px;
  height: 215px;
  margin-left: 128px;
  margin-top: -20px;
  margin-bottom: 35px;
}

.newGroceryInput {
  font-family: $main-font;
  margin-left: 80px;

  .inputGroup {
    display: inline-block;
    margin-right: 25px;
  }
}

.shopLink {
  font-family: $main-font;
  padding-left: 80px;
}

//edit grocery styling
.editGrocery {
  background-color: white;
  width: 1024px;
  height: 225px;
  margin-left: 128px;
  margin-top: -20px;
  margin-bottom: 35px;

  .groceryTitle {
    padding-top: 40px;
  }

  .inputGroup {
    padding-bottom: 2px;
  }
}

.listLink {
  font-family: $main-font;
  margin-left: 80px;
}





