// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: 'Muli', sans-serif;

.show {
  padding-left: 83px;
  font-family: $main-font;
}

.userTitle {
  font-family: $main-font;
  padding-left: 430px;
}

.form-horizontal {
  font-family: $main-font;
  padding-left: 450px;
}

.logIn {
  font-family: $main-font;
  padding-left: 430px;
}